
.wordAppheader {
  padding: 30px 0 12px;
  margin: 0 20px;
  overflow: auto;
  
}
.wordApplogo {
  float: left;
  width: 190px;
  margin-top: 2px;
}
.wordAppsubscribe{
  float: right;
  margin: 10px 20px 0 0;
}
.scroll-wrapper {
	-webkit-overflow-scrolling: touch;
  	overflow-y: scroll;

	/* important:  dimensions or positioning here! */
}
.spanHelp{
 float: right;
 font-weight: normal;
}
label {
  /* vertical-align: middle; */
  border-right: 0px solid #e5e5e5;
  /* width: 72%; */
  display: inline-block;
  /* zoom: 1; */
  margin: 0;
  padding: 9px 51px 34px 7px;

}
#submit {
  text-align: center!important;
  vertical-align: baseline;
  margin: 12px;
  width: 300px;
  height: 54px;
  font-size: 21px;
}
#submitPub {
  text-align: center!important;
  vertical-align: baseline;
  margin: 12px;
  width: 300px;
  height: 54px;
  font-size: 21px;
}
p.submit {
  text-align: center!important;
  }
	.message_invite{
		font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
  		font-size: 13px;
  		color: #3d464d;
  		font-weight: normal;
		text-align: center;
	}
	.wordapp-plugin-card-top {
  position: relative;
  padding: 20px 20px 10px;
  min-height: 135px;
  max-height: 135px;
  overflow: hidden;
}
	.wordapp-plugin-card-bottom {
  clear: both;
  padding: 12px 20px;
  background-color: #fafafa;
  border-top: 1px solid #dedede;
  overflow: hidden;
  max-height: 35px;
}
	.wordapp-column-compatibility{
  text-align: right;
  float: right;
  clear: right;
  width: 100%;
  /* width: -webkit-calc(100% - 180px); */
  /* width: calc(100% - 180px); */
}
.ios-device {background:#121212;border:1px solid #000;position: relative;box-sizing:border-box;}.ios-device::after {content: ''; width: 8px;height: 8px;border: 1px solid #444;border-radius: 50%; position: absolute; bottom: 2px;left: 50%; -webkit-transform:translateX(-50%); transform:translateX(-50%);display: block; }.ios-device__screen {border-radius: 2px;background: #222;height: 100%; }.ios-device--white {background:#fff;border-color: #ddd;}.ios-device--white::after {border-color: #ddd; }.ios-device--gold {background:#fff;border-color: #f1e2d0;}.ios-device--gold::after {border-color: #f1e2d0; }.iphone-5s {border-radius: 6px;width: 58px;height: 123px;padding: 14px 3px; }.iphone-6--medium {border-radius: 9px;width: 100.5px;height: 207px;padding: 21px 4.5px; }.iphone-6--large {border-radius: 12px;width: 134px;height: 276px;padding: 28px 6px; }.ios-device--medium::after {width: 12px;height: 12px;bottom: 4px; }.ios-device--large::after {width: 16px;height: 16px;bottom: 5px; }.ios-device--has-shadow {box-shadow:0 0 3px rgba(0,0,0,0.05),0 4px 10px rgba(0,0,0,0.1);}.ios-device__screen iframe,.ios-device__screen img { display:block;}